<script type="text/javascript" src="https://static.dsmcdn.com/frontend/web/production/footer-664d57c19b.head.bundle.js"></script>
																								<link rel="stylesheet" type="text/css" href="https://static.dsmcdn.com/frontend/web/production/footer-fc97705c16.head.bundle.css">
																									<div class="site-footer">
																										<div class="wrapper">
																											<div class="row first-row">
																												<div class="col-lg-12 col-md-12 col-xs-12 contentBox">
																													<div class="col-lg-3 col-md-3 col-xs-3 no-padding-left">
																														<a href="/">
																															<h4>Trendyol</h4>
																														</a>
																														<ul>
																															<li>
																																<a href="/international.html/tr#whoWeAre" title="Biz Kimiz">
                                                        Biz Kimiz
                                                    </a>
																															</li>
																															<li>
																																<a href="/international.html/tr#careers" title="Kariyer">
                                                        Kariyer
                                                    </a>
																															</li>
																															<li>
																																<a href="/international.html/tr#contactUs" title="Bize Ulaşın">
                                                        Bize Ulaşın
                                                    </a>
																															</li>
																															<li>
																																<a href="/saticibasvuru?source=footer" title="Trendyol&#39;da Satış Yap">
                                                        Trendyol&#39;da Satış Yap
                                                    </a>
																															</li>
																														</ul>
																													</div>
																													<div class="col-lg-3 col-md-3 col-xs-3 no-padding-left">
																														<a href="/international.html">
																															<h4>About Us</h4>
																														</a>
																														<ul>
																															<li>
																																<a href="/international.html/en#whoWeAre" title="Who We Are">
                                                        Who We Are
                                                    </a>
																															</li>
																															<li>
																																<a href="/international.html/en#careers" title="Careers">
                                                        Careers
                                                    </a>
																															</li>
																															<li>
																																<a href="/international.html/en#contactUs" title="Contact Us">
                                                        Contact Us
                                                    </a>
																															</li>
																														</ul>
																													</div>
																													<div class="col-lg-3 col-md-3 col-xs-3 no-padding-left">
																														<a href="/s/kampanyalar">
																															<h4>Kampanyalar</h4>
																														</a>
																														<ul>
																															<li>
																																<a href="/s/kampanyalar" title="Aktif Kampanyalar">
                                                        Aktif Kampanyalar
                                                    </a>
																															</li>
																															<li>
																																<a href="/s/elite" title="Elite &#220;yelik">
                                                        Elite &#220;yelik
                                                    </a>
																															</li>
																														</ul>
																													</div>
																													<div class="col-lg-3 col-md-3 col-xs-3 no-padding-left">
																														<a href="/Yardim/Sorular">
																															<h4>Yardım</h4>
																														</a>
																														<ul>
																															<li>
																																<a href="/Yardim/Sorular" title="Sık&#231;a Sorulan Sorular">
                                                        Sık&#231;a Sorulan Sorular
                                                    </a>
																															</li>
																															<li>
																																<a href="/Yardim/Sorular?liveChat=True" title="Canlı Yardım">
                                                        Canlı Yardım
                                                    </a>
																															</li>
																															<li>
																																<a href="/Yardim/Sorular/1" title="Nasıl İade Ederim">
                                                        Nasıl İade Ederim
                                                    </a>
																															</li>
																															<li>
																																<a href="/islemrehberi.html" title="Nasıl Sipariş Verilir">
                                                        Nasıl Sipariş Verilir
                                                    </a>
																															</li>
																														</ul>
																													</div>
																												</div>
																											</div>
																											<div class="clear"></div>
																											<div class="row">
																												<div class="col-lg-12 col-md-12 col-xs-12 contentBox">
																													<div class="col-lg-3 col-md-3 col-xs-3 no-padding-left">
																														<ul>
																															<li>
																																<div class="mediumTitle turkey">G&#252;venli Alışveriş</div>
																															</li>
																															<li>
																																<div class="security-img"></div>
																															</li>
																														</ul>
																													</div>
																													<div class="col-lg-3 col-md-3 col-xs-3 no-padding-left">
																														<ul>
																															<li>
																																<div class="mediumTitle turkey">Mobil Uygulamalar</div>
																															</li>
																															<li>
																																<div class="app-img">
																																	<a  href="http://itunes.apple.com/tr/app/trendyol.com/id524362642?mt=8" class="app-ios">
                                IOS
                            </a>
																																	<a  href="https://play.google.com/store/apps/details?id=trendyol.com&amp;feature=search_result#?t=W251bGwsMSwyLDEsInRyZW5keW9sLmNvbSJd" class="app-android">Adroid</a>
																																</div>
																															</li>
																														</ul>
																													</div>
																													<div class="col-lg-3 col-md-3 col-xs-3 no-padding-left">
																														<ul>
																															<li>
																																<div class="mediumTitle social turkey">Sosyal Medya</div>
																															</li>
																															<li>
																																<div class="social-img">
																																	<a target="_blank"  href="http://www.facebook.com/Trendyol" class="sm-facebook">Facebook</a>
																																	<a target="_blank"  href="http://instagram.com/trendyolcom" class="sm-instagram">Instagram</a>
																																	<a target="_blank"  href="http://twitter.com/trendyol" class="sm-twitter">Twitter</a>
																																	<a target="_blank"  href="http://www.youtube.com/trendyol" class="sm-youtube">Youtube</a>
																																	<a target="_blank" class="sm-google">Google</a>
																																	<a target="_blank" class="sm-blog">Blog</a>
																																</div>
																															</li>
																														</ul>
																													</div>
																												</div>
																											</div>
																											<div class="clear"></div>
																										</div>
																									</div>
																									<div class="footerBandInfo">
																										<div class="wrapper">
																											<div class="row">
																												<ul>
																													<li>&#169;2019 DSM Grup Danışmanlık İletişim ve Satış Tic.A.Ş.-Her Hakkı Saklıdır.</li>
																													<li>
																														<a href="/kullanim_kosullari.html"  title="Kullanım Koşulları">Kullanım Koşulları</a>
																													</li>
																													<li>
																														<a href="http://www.dsmgrup.com"  title="DSM Grup">DSM Grup</a>
																													</li>
																													<li>
																														<a href="/kisisel_verilerin_korunmasi.html" >KVK ve Gizlilik Politikası</a>
																													</li>
																												</ul>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
                                              	<!-- Footer Tag Manager End-->
																							<div id="topcontrol" title="Sayfa Başına Dön">
																								<div class="backToTop">
																									<i class="icon icon-backtotop-arrow-iconset">
																										<!--icon-->
																									</i>
																									<span>Yukarı &#199;ık</span>
																								</div>
																							</div>
																							<div class="footer-js">
																								<div id='papPlaceholder'></div>
																							</div>