

<!DOCTYPE html>
<html
	xmlns:ng="http://angular.js.org" id="ng-app" ng-app="trendyolApp" ng-strict-di=ng-strict-di class="ng-app:trendyolApp"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:og="http://ogp.me/ns#">
	<head>
  <%- include('script'); %>
		<script type="text/javascript">
if (window.location.href.indexOf("#") < 0) {
    window.previousPageHash = undefined;
    sessionStorage.removeItem('previousPage');
}

		</script>
		<style> .async-hide { opacity: 0 !important; }</style>
		<script>

</script>
		<script type="text/javascript">
</script>
		<meta charset="utf-8" />
		<title>Erkek Giyim, Erkek Kıyafetleri, Erkek Modası | Trendyol</title>
		<meta name="description" content="Erkek Giyim Markaları, Erkek Kıyafetleri Online Satış&#39;mı arıyorsun? Sevdiğin markaların yeni sezon &#252;r&#252;nleri ve kampanyaları Trendyol.com&#39;da!" />
		<meta name="machine" content="T-G1WEB03" />
		<meta name="google-site-verification" content="e45YiITCLdCM-ywej_NM5tXiVdw0GZpwfGOcm2xzDzU" />
		<meta http-equiv="Copyright" content="Copyright 2017 Trendyol.com" />
		<meta http-equiv="Reply-to" content="info@trendyol.com" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta property="fb:admins" content="714012522" />
		<meta property="fb:page_id" content="234419707855" />
		<meta property="fb:app_id" content="137649336305073" />
		<meta property="og:site_name" content="Trendyol.com" />
		<meta property="og:type" content="product" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="apple-itunes-app" content="app-id=524362642" />
			<meta name="google-play-app" content="app-id=trendyol.com" />
			<link rel="shortcut icon" href="/frontend/web/assets/images/favicon.ico" />
														<meta property="al:ios:url" content="" />
														<meta property="al:ios:app_store_id" content="524362642" />
														<meta property="al:ios:app_name" content="Trendyol.com App" />
														<meta property="og:title" content="Erkek Giyim, Erkek Kıyafetleri, Erkek Modası | Trendyol" />
														<link rel="apple-touch-icon" href="https://img-trendyol.mncdn.com/assets/banner/2015/03/ty_ios-flat-design-220.png" />
														<meta http-equiv="x-dns-prefetch-control" content="on" />
														<link rel="dns-prefetch" href="//collect.trendyol.com" />
														<link rel="dns-prefetch" href="//img-trendyol.mncdn.com" />
														<link rel="next" href="https://www.trendyol.com/butik/liste/erkek?pi=2"/>
														<link rel="canonical" href="https://www.trendyol.com/butik/liste/erkek"/>
														<link rel="alternate" media="only screen and (max-width: 640px)" href ="https://m.trendyol.com/butik/liste/erkek"/>
														<link rel="alternate" href ="ty://?BoutiqueTypeId=2"/>
														<link rel="stylesheet" type="text/css" href="https://static.dsmcdn.com/frontend/web/production/root-c032045411.head.bundle.css">
															<script type="text/javascript">window.ia = "82.222.188.130"</script>
															<script type="text/javascript">
$.TYPageName = "anasayfa";
window.showGenderPopup = 'False';
window.hasVisitedTrendyolBefore = 'True';
$(document).ready(function () { sendPageLoadedEvent('homeLoaded'); });
var customer = {
      identifier: '17547121',
      mhash: 'b882d25815c5804c572a89ef35914296aa18de0a713daf6616c30cbf52664d7e',
      mMd5hash: 'f11b67b42824b2edf619c5db834bcd33'
};
</script>

														</head>
														<!--[if lte IE 8]>
														<body class="ie-8">
															<![endif]-->
															<body>
																<noscript>

																</noscript>
																<div id="popupContainer"></div>
																<script type="text/javascript" charset="utf-8">

																</script>

                                {{{header}}}

																					<input type="hidden" id="isNewUserPopUpisdisplayed" value="" />
																				</div>
																				<!-- Header Tag Manager End-->
																				<div id="container">
																					<link rel="stylesheet" type="text/css" href="https://static.dsmcdn.com/frontend/web/production/home-331aae832a.head.bundle.css">
																						<link rel="stylesheet" href="https://static.dsmcdn.com/frontend/web/production/homepage.9e4ba0a974429db1211f1f5ebdfcebf8.css">
																							<div id="browsing-gw-homepage">
																								<div class="homepage-wrapper">
																									<div>
																										<div class="sticky-wrapper">
																											<div class="component-list component-big-list">
                                                      {{#content}}
                                                          <article class="component-item">
																													<a href="{{content.campaignDetailUrl}}" class="campaign campaign-big">
																														<span class="image-container">
																															<img src="https://static.dsmcdn.com/frontend/web/production/large_boutique_placeholder.png" alt="Koton - Kadın &amp; Erkek Tekstil"/>
																														</span>
																														<summary>
																															<span class="name"> {{content.name}} </span>
																															<span class="hover-text">alışverişe başla
																																<i class="icon icon-arrow-banner-white"></i>
																															</span>
																														</summary>
																													</a>
																												</article>
                                                        {{/content}}
																											</div>
																											<div id="component-banner-list">
																												<div class="banner-placeholders">
																													<img src="https://static.dsmcdn.com/frontend/web/production/banner_placeholder.png" alt=""/>
																													<img src="https://static.dsmcdn.com/frontend/web/production/banner_placeholder.png" alt=""/>
																													<img src="https://static.dsmcdn.com/frontend/web/production/banner_placeholder.png" alt=""/>
																												</div>
																											</div>
																										</div>
																										<div class="component-list component-small-list"></div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<!-- Footer Tag Manager Start-->
																						<div id="footer">
																							<script type="text/javascript" src="https://static.dsmcdn.com/frontend/web/production/layout-52d1d02061.foot.bundle.js"></script>
																							<div id="footer">
																								<div class="popular-brand-category">
																									<div class="wrapper">
																										<div class="section">
																											<div class="popular-brands">
																												<h3> Pop&#252;ler Markalar </h3>
																												<a href="/markalar" class="allCategories"> T&#252;m Markalar </a>
																												<ul>
																													<li class=" ">
																														<a href="/adidas?qs=footer" title="adidas"> adidas </a>
																													</li>
																													<li class=" ">
																														<a href="/avon?qs=footer" title="Avon"> Avon </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/bambi?qs=footer" title="Bambi"> Bambi </a>
																													</li>
																													<li class=" ">
																														<a href="/bonprix?qs=footer" title="Bonprix"> Bonprix </a>
																													</li>
																													<li class=" ">
																														<a href="/calvin-klein?qs=footer" title="Calvin Klein"> Calvin Klein </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/defacto?qs=footer" title="Defacto"> Defacto </a>
																													</li>
																													<li class=" ">
																														<a href="/derimod?qs=footer" title="Derimod"> Derimod </a>
																													</li>
																													<li class=" ">
																														<a href="/emporio-armani?qs=footer" title="Emporio Armani"> Emporio Armani </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/hotic?qs=footer" title="Hotiç"> Hotiç </a>
																													</li>
																													<li class=" ">
																														<a href="/hummel?qs=footer" title="HUMMEL"> HUMMEL </a>
																													</li>
																													<li class=" ">
																														<a href="/inci?qs=footer" title="İnci"> İnci </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/ipekyol?qs=footer" title="İpekyol"> İpekyol </a>
																													</li>
																													<li class=" ">
																														<a href="/kenzo?qs=footer" title="Kenzo"> Kenzo </a>
																													</li>
																													<li class=" ">
																														<a href="/koton?qs=footer" title="Koton"> Koton </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/lacoste?qs=footer" title="Lacoste"> Lacoste </a>
																													</li>
																													<li class=" ">
																														<a href="/lc-waikiki?qs=footer" title="LC Waikiki"> LC Waikiki </a>
																													</li>
																													<li class=" ">
																														<a href="/mango?qs=footer" title="Mango"> Mango </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/mavi?qs=footer" title="Mavi"> Mavi </a>
																													</li>
																													<li class=" ">
																														<a href="/moncler?qs=footer" title="Moncler"> Moncler </a>
																													</li>
																													<li class=" ">
																														<a href="/moschino?qs=footer" title="Moschino"> Moschino </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/mudo?qs=footer" title="Mudo"> Mudo </a>
																													</li>
																													<li class=" ">
																														<a href="/new-balance?qs=footer" title="New Balance"> New Balance </a>
																													</li>
																													<li class=" ">
																														<a href="/nike?qs=footer" title="Nike"> Nike </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/nine-west?qs=footer" title="Nine West"> Nine West </a>
																													</li>
																													<li class=" ">
																														<a href="/pierre-cardin?qs=footer" title="Pierre Cardin"> Pierre Cardin </a>
																													</li>
																													<li class=" ">
																														<a href="/sahinler?qs=footer" title="Şahinler"> Şahinler </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/sans?qs=footer" title="Şans"> Şans </a>
																													</li>
																													<li class=" ">
																														<a href="/trendyolmilla?qs=footer" title="TRENDYOLMİLLA"> TRENDYOLMİLLA </a>
																													</li>
																													<li class=" ">
																														<a href="/twist?qs=footer" title="Twist"> Twist </a>
																													</li>
																												</ul>
																											</div>
																										</div>
																										<div class="section">
																											<div class="popular-brands">
																												<h3> Pop&#252;ler Kategoriler </h3>
																												<a href="/kategoriler" class="allCategories"> T&#252;m Kategoriler </a>
																												<ul>
																													<li class=" ">
																														<a href="/abiye-elbise?qs=footer" title="Abiye Elbise"> Abiye Elbise </a>
																													</li>
																													<li class=" ">
																														<a href="/aksesuar?qs=footer" title="Aksesuar"> Aksesuar </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/ayakkabi?qs=footer" title="Ayakkabı"> Ayakkabı </a>
																													</li>
																													<li class=" ">
																														<a href="/aydinlatici?qs=footer" title="Aydınlatıcı"> Aydınlatıcı </a>
																													</li>
																													<li class=" ">
																														<a href="/bot?qs=footer" title="Bot&Bootie"> Bot&Bootie </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/buyuk-beden?qs=footer" title="Büyük Beden"> Büyük Beden </a>
																													</li>
																													<li class=" ">
																														<a href="/ceket?qs=footer" title="Ceket"> Ceket </a>
																													</li>
																													<li class=" ">
																														<a href="/cilt-bakimi?qs=footer" title="Cilt Bakım"> Cilt Bakım </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/canta?qs=footer" title="Çanta"> Çanta </a>
																													</li>
																													<li class=" ">
																														<a href="/elbise?qs=footer" title="Elbise"> Elbise </a>
																													</li>
																													<li class=" ">
																														<a href="/etek?qs=footer" title="Etek"> Etek </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/ev-dekorasyon?qs=footer" title="Ev Dekorasyon"> Ev Dekorasyon </a>
																													</li>
																													<li class=" ">
																														<a href="/gecelik?qs=footer" title="Gecelik"> Gecelik </a>
																													</li>
																													<li class=" ">
																														<a href="/gelinlik?qs=footer" title="Gelinlik"> Gelinlik </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/gomlek?qs=footer" title="Gömlek"> Gömlek </a>
																													</li>
																													<li class=" ">
																														<a href="/gunes-gozlugu?qs=footer" title="Güneş Gözlüğü"> Güneş Gözlüğü </a>
																													</li>
																													<li class=" ">
																														<a href="/ic-giyim?qs=footer" title="İç Giyim"> İç Giyim </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/makyaj?qs=footer" title="Makyaj"> Makyaj </a>
																													</li>
																													<li class=" ">
																														<a href="/maske--peeling?qs=footer" title="Maske&Peeling"> Maske&Peeling </a>
																													</li>
																													<li class=" ">
																														<a href="/mezuniyet-elbiseleri?qs=footer" title="Mezuniyet Elbiseleri"> Mezuniyet Elbiseleri </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/mont?qs=footer" title="Mont"> Mont </a>
																													</li>
																													<li class=" ">
																														<a href="/pantolon?qs=footer" title="Pantolon"> Pantolon </a>
																													</li>
																													<li class=" ">
																														<a href="/parfum?qs=footer" title="Parfüm"> Parfüm </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/pirlanta-yuzuk?qs=footer" title="Pırlanta Yüzük"> Pırlanta Yüzük </a>
																													</li>
																													<li class=" ">
																														<a href="/saat?qs=footer" title="Saat"> Saat </a>
																													</li>
																													<li class=" ">
																														<a href="/spor-ayakkabi?qs=footer" title="Spor Ayakkabı"> Spor Ayakkabı </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/takim-elbise?qs=footer" title="Takım Elbise"> Takım Elbise </a>
																													</li>
																													<li class=" ">
																														<a href="/topuklu-ayakkabi?qs=footer" title="Topuklu Ayakkabı"> Topuklu Ayakkabı </a>
																													</li>
																													<li class=" ">
																														<a href="/trenckot?qs=footer" title="Trençkot"> Trençkot </a>
																													</li>
																													<li class="sort-category ">
																														<a href="/yilbasi-hediyeleri?qs=footer" title="Yılbaşı Hediyeleri"> Yılbaşı Hediyeleri </a>
																													</li>
																												</ul>
																											</div>
																										</div>
																									</div>
																								</div>

                                              {{{footer}}}

																							<!--[if IE 7]>
																							<span id="ie-old-browser" class="7"></span>
																							<![endif]-->
																							<!--[if IE 8]>
																							<span id="ie-old-browser" class="8"></span>
																							<![endif]-->
																							<!--[if IE 9]>
																							<span id="ie-old-browser" class="9"></span>
																							<![endif]-->
																						</body>

</html>
